
@{
    ViewData["Title"] = "Viewdenemesi";
}

<h1 style="text-align : center ">Viewdenemesi</h1>
<h3 style="text-align : center ">ismi index ismi 
    ile aynı olmamasına rağmen fonksiyon içerisindeki view isimlendirilerek çağırılmıştır</h3>


